@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-decoration: none !important;
  list-style: none;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


.row {
  margin: 0;
}

.navbar li a,
.navbar-text {
  color: black;
  margin-right: 2.4rem !important;
}

.navbar-style {
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

.navbar,
.navbar-style {
  letter-spacing: 0.3rem;
  padding-left: 7rem;
  font-size: 2rem;
}

@media (max-width: 1280px) {
  .navbar,
  .navbar-style,.navbar-text {
    padding-left: 1rem;
  }

  .navbar-brand{
    margin-left: 2rem;
  }

  h1{
    margin-bottom: 2rem;
    word-spacing: 0 !important;
  }

  .icon{
    padding-right: 0 !important ;
    margin-left: 0 !important;
    margin-top:-.5rem;
}
  

  .input-group{
    margin-left: 5rem !important;
    width: 90% !important;
  }

  .card{
   display: none;
  }
  
  .icon{
    margin-left: 1rem;
  }  
}
