@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  text-decoration: none !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.row {
  margin: 0;
}

.navbar li a,
.navbar-text {
  color: black;
  margin-right: 2.4rem !important;
}

.navbar-style {
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

.navbar-text{
  padding-left: 1rem;
}
.navbar,
.navbar-style {
  letter-spacing: 0.3rem;
  padding-left: 7rem;
  font-size: 2rem;
}
.container1{
  margin-top: 7rem !important;
}


.icon{
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  padding-right: .8rem;
}

h1{
  font-size: 7rem;
  color: rgb(255, 0, 72);
}
.sub-text{
  font-size: 10rem;
  color: rgb(140, 0, 255);
}

h5,p{
  font-size: 3rem;
  color: rgb(234, 184, 184);
}



.carousel{
width: 90%;
margin-left: 8rem;
margin-top: 2rem;
}

@media (max-width: 1280px) {
  .navbar,
  .navbar-style,.navbar-text {
    padding-left: 1rem;
  }
  .navbar-text {
    padding-left: 2.5rem;
  }
  .carousel{
    margin-left: 0rem;
    width: 100%;
  }
}
